@import "tailwindcss";
@config "../tailwind.config.js";
@plugin './hero.ts';
@import './font.css'
/* Note: You may need to change the path to fit your project structure */
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-display: "Inter", "sans-serif";
  --color-primary-500: oklch(0.84 0.18 117.33);
  --spacing: 0.25rem;
}

@layer base {
  html {
    font-family: Nunito, system-ui, sans-serif;
    font-size: large
  }
}


@layer base {
  body {
    @apply bg-background text-foreground;
    background-color: rgb(234, 234, 234);
  }
}

@theme inline {
  --shadow-input:
    0px 2px 3px -1px rgba(0, 0, 0, 0.1),
    0px 1px 0px 0px rgba(25, 28, 33, 0.02),
    0px 0px 0px 1px rgba(25, 28, 33, 0.08);
}



@layer utilities {
  .scrollbar-custom {
    scrollbar-width: thin; /* For Firefox */
    scrollbar-color: rgba(116, 85, 239, 0.5) rgba(241, 238, 253); /* For Firefox */
  }
  .scrollbar-custom::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  .scrollbar-custom::-webkit-scrollbar-thumb {
    background: rgba(116, 85, 239, 0.7);
    border-radius: 5px;
  }
  .scrollbar-custom::-webkit-scrollbar-thumb:hover {
    background: rgba(116, 85, 239, 0.9);
  }
  .scrollbar-custom::-webkit-scrollbar-track {
    background: rgba(241, 238, 253, 0.5);
  }
  .scrollbar-hidden::-webkit-scrollbar {
    display: none; /* Hide scrollbar initially */
  }
}
.timer-scroller::-webkit-scrollbar {
  width: 2px; /* Ultra-thin scrollbar */
}

.timer-scroller::-webkit-scrollbar-thumb {
  background-color: rgb(79, 70, 229); /* Indigo color for the scrollbar thumb */
  border-radius: 50px; /* Circular thumb */
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
}

.timer-scroller::-webkit-scrollbar-thumb:hover {
  background-color: rgb(55, 48, 163); /* Slightly darker indigo on hover */
}

.timer-scroller::-webkit-scrollbar-track {
  background: transparent; /* Transparent track for a clean look */
}
.customContainer {
  max-width: 1900px;
  width: 95%;
  margin: auto;
  overflow: hidden;
}

/* For Firefox and other non-WebKit browsers */
.timer-scroller {
  scrollbar-width: thin; /* Thin scrollbar for non-WebKit browsers */
  scrollbar-color: rgb(79, 70, 229) transparent; /* Indigo thumb, transparent track */
}